**/.dockerignore
**/.git
**/.github
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/[Dd]ockerfile*
**/.DS_Store
**/node_modules
**/npm-debug.log
**/README.md
**/secrets.dev.yaml
**/values.dev.yaml
**/*.dbmdl
**/*.jfm
