@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider SnackbarConfiguration="@(new SnackbarConfiguration {
                                                PositionClass = Defaults.Classes.Position.BottomRight,
                                                ShowTransitionDuration = 200,
                                                HideTransitionDuration = 200,
                                                SnackbarVariant = Variant.Filled,
                                                ShowCloseIcon = true,
                                                
                                            })" />
<MudLayout>
    <MudAppBar Elevation="1">
        <div class="d-flex align-center ml-3">
            <MudText Typo="Typo.h5"><b>BlazeFolio</b></MudText>
        </div>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private MudTheme? _theme;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new MudTheme
        {
            PaletteLight = new PaletteLight
            {
                Primary = "#2EC4B6",       // Teal
                Secondary = "#acaebe",     
                Tertiary = "#FFBF69",      
                Background = "#eff2f4",   
                Surface = "#ffffff",      
                AppbarBackground = "#2EC4B6",
                TextPrimary = "#000000",
                ActionDefault = "#2EC4B6",
                ActionDisabled = "#FFFFFF",
                ActionDisabledBackground = "#CBF3F0",
            }
        
        };
    }
}