.mud-table-head, .mud-th {
    background-color: #dff7f8 !important;
    border-bottom: none !important;
}

/* Style for the content cells */
.mud-table-empty-row, .mud-table-body {
    background-color: #eafbfc!important; 
}

.mud-table-cell {
    border-bottom: none !important;
}

.mud-dialog {
    background-color: #ffffff;
}

/* Custom dialog styles */
.dialog {
    border-radius: 12px; 
    width: 400px; 
    max-width: 90vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}